/* Selector universal */
* {
  margin: 3px;
}
/* Selector de elemto */
h1 {
  color: rgb(50, 50, 50);
  font-style: italic;
}
/* Selector de identificador */
#introducción {
  border-style: dotted;
  padding: 1em;
}
/*Selector de clase */
.positivo {
  color: green;
  font-weight: bolder;
}
.negativo {
  color: red;
  font-weight: bolder;
}
/*Selector de atributo */
input[type] {
  background-color: rgb(196, 248, 196);
}
input[type="text"] {
  color: rgb(0, 98, 255);
  font-weight: bolder;
}
